@font-face {
  font-family: "Felfel";
  src: url("/fonts/Felfel.woff2") format("woff2"),
    url("/fonts/Felfel.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Ghaith";
  src: url("/fonts/Ghaith.otf") format("opentype");
  font-weight: bolder;
  font-style: bolder;
}

@font-face {
  font-family: "Cairo";
  src: url("/fonts/Cairo.ttf") format("truetype");
  font-weight: bolder;
  font-style: bolder;
}
